<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{product.page.title}"></title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{product.id}"></th>
				<th th:text="#{product.name}"></th>
				<th th:text="#{product.description}"></th>
				<th th:text="#{product.rating}"></th>
				<th th:text="#{product.quantity}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${product}">
				<td style="text-align: center;"><span
					th:text="${product.productId}"> Product Id </span></td>
				<td style="text-align: center;"><span th:text="${product.name}">
						Product Name </span></td>
				<td style="text-align: center;"><span
					th:text="${product.description}"> Product Description </span></td>
				<td style="text-align: center;"><span
					th:text="${product.rating}"> Product Rating </span></td>
				<td style="text-align: center;"><span
					th:text="${product.quantity}"> Product Quantity </span></td>

			</tr>
			<tr th:unless="${product}">
				<td colspan="5">No Products Available</td>
			</tr>

		</tbody>
	</table>
	<br />
	<button type="button"
		onclick="window.location.href='/store/product/add'">Add a
		product</button>
		<button type="button"
		onclick="window.location.href='/store/product/delete'">Delete
		product</button>
	<button type="button"
		onclick="window.location.href='/store/products/list'">Back to
		product listing</button>

	<button type="button" th:text="#{switch-en}"
		onclick="window.location.href='/store/products/list/?lang=en'"></button>
	<button type="button" th:text="#{switch-fr}"
		onclick="window.location.href='/store/products/list/?lang=fr'"></button>


</body>