<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add a Product</title>
</head>
<body>
	<form action="#" th:action="@{/store-app/v4/product/postadd}" th:object="${product}"
		method="post">
		<table border="1">
			<tr>
				<td><label>Product name</label></td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><label>Product description <label/></td>
				<td><input type="text" th:field="*{description}" /></td>
			</tr>
			<tr>
				<td><label>Rating</label></td>
				<td><input type="number" step="0.01" th:field="*{rating}" /></td>
			</tr>
			<tr>
				<td><label>Product Quantity</label></td>
				<td><input type="number" th:field="*{quantity}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>